@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse {  
  0%, 100% {  
    opacity: 0.5;  
  }  
  50% {  
    opacity: 0.8;  
  }  
}  

.animate-pulse {  
  animation: pulse 2s infinite;  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.relative{
  background-color:#021811;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#sa {

  background-image: linear-gradient(to left, red, blue); /* Adjust colors as needed */
  background-clip: text;
  font-size: xxx-large;
  color: transparent;
  top: 10px;

}

.pa{
  border-radius: 30px;
}
.pag{
  color:rgb(247, 4, 247);
}
.relative{
  height: 100vh;
  padding-top: 5%;
}

.header {
  width: 80vw;
  align-items: center;
  margin-left: 9%;
  align-self: center;
  display: flex;
  background: transparent;
  background: rgba(37, 37, 48, 0.7);
  border: 0.5px solid #585858;
  border-radius: 50px;
  position: fixed;
  z-index: 999;
  top: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
}

.logo{
  /* blend-mode: multiply; */
  mix-blend-mode: lighten;
}